* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    ul {
        margin-bottom: 0;
    }
}

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

@mixin title {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 5rem 0;
    text-transform: uppercase;
    margin-bottom: 0;
}

@mixin xs {
    @media (max-width: 576px) {
        @content;
    }
}
@mixin sm {
    @media (min-width: 576px) {
        @content;
    }
}
@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin xl {
    @media (min-width: 1200px) {
        @content;
    }
}
